body {
    font-family: sans-serif;
    background-color:  #f5f6f7;
}

#gallery {
    box-sizing: border-box;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
    object-fit: cover;
    margin-top: 8px;
    border-radius: 10px;
    
}
.header {
    text-align: center;
    background-color: #E0DDDD;
    padding: 32px 32px 32px 32px;
}
@media (max-width: 800px) {
    #gallery img {
    width: 50%;
    }
   }
@media (max-width: 600px) {
    #gallery img {
    width: 100%;
    }
   }
   
   